<?php
$post = $this->getPost();
?>

<div class="post-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-md-offset-3">
                <div class="post-page">
                    <?php if ($image = $post->getImage()): ?>
                        <div class="post-img">
                        <img src="<?php echo $image ?>"/>
                        </div>
                    <?php endif; ?>
                    <div class="post-body">
                        <div class="blog-social">
                            <?php echo $this->getChildHtml('blog.social.sharing'); ?>
                        </div>
                        <div class="post-title">
                            <h3>
                                <?php echo $post->getTitle(); ?>
                            </h3>
                        </div>
                        <div class="post-description">
                            <?php echo $this->filterContent($post->getContent()); ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        
           
   
<div class="container">
<?php echo $this->getChildHtml('posts'); ?>
</div>