.tm_blog-index-index,
.tm_blog-post-view{
    background-image: url('../images/bg_grey.jpeg');
}

@media (min-width: 992px) {
    .col-md-offset-2{
        margin-left: 16.666667%;
    }
    .col-md-offset-3 {
        margin-left: 25%;
      }
  }
.custom-post{
    background-color: #fff;
    margin-bottom: 2em;
    display: flex;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 1px 1px 9px;
}
.post-wrapper{
    margin-bottom: 2em;
}
.custom-post a{
    color: #e67e22;
}
.custom-post a:hover{
    color: #d35400;
}
.post-image{
    width: 200px;
}
.post-image img{
    width: 100%;
    height: auto;
}
.post-body{
    margin-left: 5px;
    flex-basis:80%;
}
.block-posts-list .post-items a.post-link{
    background-color: #e67e22;
    padding: .5em;
    margin-left: auto;
    border-radius: 5px;
    color: #fff;
    box-shadow: 1px 1px 9px;
    float: right;
}
.post-more .post-link:hover,
.post-more .post-link:active{
    background-color: #d35400;
    color: #fff;
}

/* single post */
.post-page{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 9px;

}
.post-img img{
    width: 100%;    
}

.post-title h3{
    color: #e67e22;
}

/* //stay safe// */
.safe-post{
    background-color: #fff;
    margin-bottom: 2em;
    display: flex;
    border-radius: 5px;
    box-shadow: 1px 1px 9px;
}
.safe-title h3{
    text-align: center;
    padding: 10px;
    background-color: #74b9ff;
    color: #fff;
    margin: 0;
}
.safe-description{
    width: 80%;
    margin: 0 auto;
}
.safe-footer{
    margin: 10px;
}
.safe-more{
    background-color:#e67e22; 
    text-align: center;
    padding: 5px;
}
.safe-more a{
    color: #fff;
}

@media only screen and (max-width: 600px) {
    .custom-post{
        flex-direction: column;
    }
    .post-image{
        flex-basis: 100%;
        width: 100%;
    }
} 

/* MORE LIKE THIS */
.more-image{
    position: relative;
}
.more-like-this{
    /* margin-left: 20%; */
    display: flex;
    margin: 0 auto;
}
.more-image img{
   min-width: 100%;
   max-height: 150px;
}
.more-title{
    position: absolute;
    bottom: 0;
    background-color: rgba(52, 152, 219,.4);
    color: #fff;
    text-shadow: 1px 1px #d35400;
    width: 100%;
    padding: 10px;
}
@media only screen and (max-width: 600px) {
    .more-image img{
        max-height: auto;
     }
     .more-post{
         margin-bottom: 1em;
     }
     .more-like-this{
        margin-left: 0;
        display: block;
    }
}

body.tm_blog-index-index .toolbar-top{
   display: none;
}
.posts-list-wrapper .toolbar-bottom .toolbar .pages{
    margin: 0 auto;
}

.pages .item:not(.pages-item-previous):not(.pages-item-next) a, .pages .item.current strong{
    line-height: 48px;
    font-weight: 400;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    background: #34495e;
    color: #fff;
    border: none;
}
.pages .item:not(.pages-item-previous):not(.pages-item-next) a:hover, .pages .item.current strong:hover{
    background: #fff;
    color: #34495e;
}
.pages .item.current strong{
    color: #34495e;
    background: #fff;
}

.pages .item.pages-item-previous a, .pages .item.pages-item-next a{
    line-height: 48px;
    font-weight: 400;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    background: #34495e;
    color: #fff;
    border: none;
}
.pages .item.pages-item-previous a span:not(.label):before, .pages .item.pages-item-next a span:not(.label):before{
    color: #fff;
}