<script type="text/x-magento-init">
        {
            "*":{
                "SquishMallow_Blog/js/customBlog":{}
                }
        }
</script>
<?php
$posts = $this->getPosts();
$categories = $this->getWidgetPosts();
$contentLenght = 50;

// echo $this->getCat();
// foreach ($categories as $category) {
//     print_r($category->getData());
// }



?>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-offset-2 col-md-6">
            <?php foreach($categories as $post): ?>
                <div class="custom-post" data-aos="zoom-in" >
                    <?php if ($image = $post->getImage()): ?>
                        <div class="post-image">
                            <a href="<?php echo $this->getPostUrl($post); ?>"><img src="<?php echo $image ?>" /></a>
                        </div>
                    <?php endif; ?>
                        <div class="post-body">
                            <div class="post-title">
                            <h3>
                                <a href="<?php echo $this->getPostUrl($post); ?>"><?php echo $post->getTitle(); ?></a>
                            </h3>
                            </div>
                            <div class="post-description">
                                <?php $short_content =  $block->filterContent($post->getShortContent()); ?>
                                <?php echo mb_substr($short_content, 0, $contentLenght); ?>
                                <?php echo (mb_strlen($short_content) > $contentLenght) ? '...' : ''; ?>
                            </div>
                            <div class="post-footer">
                                <div class="post-more">
                                    <a href="<?php echo $this->getPostUrl($post); ?>" class="post-link">
                                        <?php /* @escapeNotVerified */ echo __('Read More'); ?>
                                    </a>  
                                </div>
                            </div>
                        </div>
                </div>
            <?php endforeach; ?>
        </div>
    </div>
</div>