<script type="text/x-magento-init">
        {
            "*":{
                "SquishMallow_Blog/js/customBlog":{}
                }
        }
</script>

<?php
  $posts = $this->getPosts();
  $currentPost= $this->getPost();
  $contentLenght=100;
?>

<div class="container">
  <div class="row">
    <div class="more-like-this">
    <?php foreach ($posts as $post) :?>
        <?php if ($post->getData('post_id') !== $currentPost->getId()):?>
            <div class="col-sm-12 col-md-3" >
                <a href="<?php echo $this->getPostUrl($post);?>">
                <div class="more-post post-page" data-aos="flip-left">
                    <div class="more-image">
                        <img src="<?php echo $post->getImage(); ?>" alt="">
                        <div class="more-title">
                                <?php echo $post->getTitle();?>
                        </div>
                    </div>
                </div>
                </a>
            </div>
        <?php endif;?>
    <?php endforeach;?>
    </div>
  </div>
</div>