<script type="text/x-magento-init">
    {
            "*":{
                "SquishMallow_Blog/js/customBlog":{}
                }
        }
</script>
<?php
    $categories = $this->getCategories();
    foreach ($categories as $category) {
        if ($category->getData('identifier') === 'staysafe') {
            $staysafe =  $category->getRelatedPosts();
        }
       
    }
    $postCollection = $this->getCollection();
    $dateFormat = $this->getDateFormat();
    $contentLenght = 200;
?>
<div class="posts-list-wrapper">
    <div class="toolbar-top">
        <?php echo $block->getChildHtml('blog_toolbar'); ?>
    </div>

    <div class="container">
        <div class="row">


            <div class="col-sm-12 col-md-offset-2 col-md-6">
                <div class="block-posts-list">
                    <ol class="post-items">
                        <?php foreach($postCollection as $post): ?>
                        <div class="custom-post" data-aos="zoom-in"
                            data-post-id="<?php echo $post->getPostId(); ?>">
                            <?php if ($image = $post->getImage()): ?>
                            <div class="post-image">
                                <a href="<?php echo $this->getPostUrl($post); ?>"><img src="<?php echo $image ?>" /></a>
                            </div>
                            <?php endif; ?>
                            <div class="post-body">
                                <div class="post-title">
                                    <h3>
                                        <a
                                            href="<?php echo $this->getPostUrl($post); ?>"><?php echo $post->getTitle(); ?></a>
                                    </h3>
                                </div>
                                <div class="post-description">
                                    <?php $short_content =  $block->filterContent($post->getShortContent()); ?>
                                    <?php echo mb_substr($short_content, 0, $contentLenght); ?>
                                    <?php echo (mb_strlen($short_content) > $contentLenght) ? '...' : ''; ?>
                                </div>
                                <div class="post-footer">
                                    <div class="post-more">
                                        <a href="<?php echo $this->getPostUrl($post); ?>" class="post-link">
                                            <?php /* @escapeNotVerified */ echo __('Read More'); ?>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <?php endforeach; ?>
                    </ol>
                </div>

            </div>
            <div class="col-sm-12 col-md-3">
                <?php foreach ($staysafe as $post) :?>
                <?php if ($post->getData("identifier") === "satysafe") :?>
                <div class="safe-post">
                    <div class="stay-safe-body">
                        <a href="<?php echo $this->getPostUrl($post); ?>">
                            <div class="safe-title">
                                <h3><?php echo $post->getTitle();?> </h3>
                            </div>
                            <div class="safe-image">
                                <img src="<?php echo $post->getImage(); ?>" />
                            </div>
                            <div class="safe-description">
                                <?php $short_content =  $block->filterContent($post->getShortContent()); ?>
                                <?php echo mb_substr($short_content, 0, $contentLenght); ?>
                                <?php echo (mb_strlen($short_content) > $contentLenght) ? '...' : ''; ?>
                            </div>
                        </a>
                        <div class="safe-footer">
                            <div class="safe-more">
                                <a href="<?php echo $this->getPostUrl($post); ?>" class="post-link">
                                    <?php /* @escapeNotVerified */ echo __('Read More'); ?>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <?php endif;?>
                <?php endforeach; ?>
            </div>
        </div>
    </div>

    <div class="toolbar-bottom">
        <?php echo $block->getChildHtml('blog_toolbar'); ?>
    </div>

</div>